


body {
  margin: 0;
  position: relative;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;

}
h1 {
  font-size: 5.62rem;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #EEEEEE;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #495464;
  margin-bottom: 5%;

}

h3 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

hr{
  background-color: #E6E6E6;
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  border-color: #787A91;
  border-width: 1rem;
}

.imgs{
  height: 100%;
  width: 100%;
  border-radius: 10% 10% 10% 10%

}
.img-icon{
  position: absolute;
  height: 1%;
  padding-left: 0.3%;
}
.img-icon:hover{
  background-color: gold;
}

.Pro {

  text-decoration: underline;
}


.top-container{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #EDEDED;
  background: linear-gradient(#787A91, #E6E6E6);





}

.middle-container{
  background-color: #E6E6E6;
  padding-bottom: 1%;





}

.profile{
  padding-top: 10%;
  padding-bottom: 10%;
}


.skills{
  margin: 13% auto 13% auto;
  width: 70%;
  line-height: 2;

}

.skill-1{
  padding: 13% 0 18% 0;
}

.gif-coding{
  width: 50%;
  float: left;
  margin: 0 8% 0 0;
  border-radius: 50% 50% 50% 50%;
}


.gif-drawing{
  width: 50%;
  float: right;
  margin : 0 0 8% 8%;
  border-radius: 50% 50% 50% 50%;

}


.contact-me{
  margin: 13% auto 13% auto;
  width: 50%;

}

.btn {
   background: #E6E6E6;
   background-image: -webkit-linear-gradient(top, #E6E6E6, #787A91);
   background-image: -moz-linear-gradient(top, #E6E6E6, #787A91);
   background-image: -ms-linear-gradient(top, #E6E6E6, #787A91);
   background-image: -o-linear-gradient(top, #E6E6E6, #787A91);
   background-image: -webkit-gradient(to bottom, #E6E6E6, #787A91);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #495464;
   font-family: 'Merriweather', serif;
   font-size: 25px;
   font-weight: 100;
   padding: 18px;
   -webkit-box-shadow: inset 1px 1px 20px 0 #000000;
   -moz-box-shadow: inset 1px 1px 20px 0 #000000;
   box-shadow: inset 1px 1px 20px 0 #000000;
   text-shadow: 0 1px 39px #FFFFFF;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #4D91F3 1px;
   background: #3D7FE9;
   background-image: -webkit-linear-gradient(top, #3D7FE9, #5AA5F9);
   background-image: -moz-linear-gradient(top, #3D7FE9, #5AA5F9);
   background-image: -ms-linear-gradient(top, #3D7FE9, #5AA5F9);
   background-image: -o-linear-gradient(top, #3D7FE9, #5AA5F9);
   background-image: -webkit-gradient(to bottom, #3D7FE9, #5AA5F9);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.loc-img{

  float: left;
  width: 3%;
  margin-right: 3%;

}

.loc-p{

  text-align: left;

}

.phone-img{
  float: left;
  width: 3%;
  margin-right: 3%;
}
.phone-p{
  text-align: left;
}

.msg-img{
  float: left;
  width: 3%;
  margin-right: 3%;
}

.msg-p{
  text-align: left;
}


.bottom-container{
  padding-top: 3%;
  padding-bottom: 5%;
  background: linear-gradient(#E6E6E6,#787A91);


}

.facebook{
  width: 3%;
  margin-right: 1%;


}
.instagram{
  width: 3%;
  margin-left: 1%;

}

.drawing-container{
  background-color: #E6E6E6;
}
.computer{
  position: relative;
  padding-top: 3%;
}

.mouse{
  position: absolute;
  top: 5%;
  right: 16%;
}

.cpu{
  position: absolute;
  top: 3%;
  left: 16%;
}
.connection{
  position: absolute;
  top: 12%;
  left: 24%;
}
.profpic{

  width: 23%;
  border-radius: 30% 30% 70% 70%;
}
